#app {
    display: flex;
    height: 100vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.layout {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 300px;
    padding: 10px;
    background: #b0c4de;
    padding: 20px;
    height: 900px;
    margin-top: 10px;
    margin-left: 10px;
}
.sidebar h2 {
    text-align: center;
}
.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background: #f7f7f7;
    cursor: pointer;
}
.sidebar button.active {
	background-color: yellow;
	font-weight: bold;
}
.logout {
    margin-top: 20px;
    width: 100%;
    background: white;
    border: 1px solid black;
}
.content {
    width: 1500px;
    flex: 1;
    padding: 20px;
    margin-top: 10px;
    background: #f0f0f0;
}
.header {
    background: #a0a0c0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.box {
    background: #d3d3d3;
    padding: 20px;
    margin: 10px 0;
    height: 200px;
}
.more {
    text-align: right;
    font-size: small;
    color: blue;
    cursor: pointer;
}