
.swiper-slide {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.question-board {
    padding: 40px;
    background: #f8f8f8;
}

.question-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    justify-content: space-between;
    gap: 24px;
    max-width: 600px;
}

.cut-letter {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}
.orange {
    color: #FF5722;
    font-weight: bold;
}